# Environments
.env
.env.*

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Docker
docker-compose.override.yml

# IDEs
.idea/
.vscode/

# Static files
staticfiles/

# Media files
mediafiles/

# Database
db.sqlite3
/postgres_data/

.claude/

# macOS
.DS_Store